:root{
    --text-blue: #0066ff;
}

h1{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 20px;
    color: black;
}

h2{
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 15px;
    color: black;   
}

h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px;
    color: black;   
}

p{
    margin: 0 0 10px;
}

strong{
    font-weight: 700;
}

figure{
    padding-bottom: 15px;
}

img{
    border-radius: 12px;
    display: block;
    width: 100%;
    margin: 0 auto 10px;
}

.figcaption{
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    font-style: italic;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

ol{
    list-style-type: decimal;
    margin-left: 40px;
}

.strong-blue {
    color: var(--text-blue);
}